.property {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
}

.properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.propertyinfo {
  width: 250px;
}

.coverphoto {
  object-fit: cover;
}
